.text_logo {
    color: $color-logo;
    width: 460px;
    height: 70px;
    font-size: 75px;
    line-height: 1;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 25px;
    font-weight: bold;
}

.btnmore-arown {
    display: flex;
    border: 2px solid #ffff;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 0 25px;
}

.btnmore {
    margin: 0 auto;
}

.arown {
    margin: 0 auto;
    width: 30px;
}

.img-arown {
    width: 45px;
}

.btnmore a {
    text-decoration: none;
    color: $color-white;
}

.mouse {
    width: 20px;
    height: 30px;
}

@keyframes down {
    from {
        top: 0;
        opacity: 0;
    }
    to {
        bottom: 100px;
        opacity: 1;
    }
}

.line {
    width: 8px;
    height: 60px;
    animation: down 1s infinite;
}

.btnprd-arrow {
    a {
        position: relative;
        &::before {
            position: absolute;
            content: "";
            width: 50px;
            height: 3px;
            top: 0;
            left: 0;
            background-color: $color-logo;
            transform: translate(0, 30px);
        }
        text-decoration: none;
        color: $black-cl;
        font-weight: bold;
    }
    .aft-btn {
        &::after {
            transform: translate(50px, 30px);
        }
    }
    img {
        width: 30px;
        height: 10px;
    }
}