.footer {
    background-color: black;
    margin-top: 100px;
    height: 50px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.btn-back a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.text-ft {
    text-transform: uppercase;
    color: #fff;
}